[core]
	quotepath = false

[alias]
	dev = switch develop
	swbrbr = switch -c "ﾌﾞﾘﾌﾞﾘﾌﾞﾘﾌﾞﾘﾘﾘﾘﾘﾘ！！！！！！ﾌﾞﾂﾁﾁﾌﾞﾌﾞﾌﾞﾁﾁﾁﾁﾌﾞﾘﾘｲﾘﾌﾞﾌﾞﾌﾞﾌﾞ！！！！！！！"
	swbr = switch "ﾌﾞﾘﾌﾞﾘﾌﾞﾘﾌﾞﾘﾘﾘﾘﾘﾘ！！！！！！ﾌﾞﾂﾁﾁﾌﾞﾌﾞﾌﾞﾁﾁﾁﾁﾌﾞﾘﾘｲﾘﾌﾞﾌﾞﾌﾞﾌﾞ！！！！！！！"
	delbrbr = branch -d "ﾌﾞﾘﾌﾞﾘﾌﾞﾘﾌﾞﾘﾘﾘﾘﾘﾘ！！！！！！ﾌﾞﾂﾁﾁﾌﾞﾌﾞﾌﾞﾁﾁﾁﾁﾌﾞﾘﾘｲﾘﾌﾞﾌﾞﾌﾞﾌﾞ！！！！！！！"
	pushbrbr = push -u origin "ﾌﾞﾘﾌﾞﾘﾌﾞﾘﾌﾞﾘﾘﾘﾘﾘﾘ！！！！！！ﾌﾞﾂﾁﾁﾌﾞﾌﾞﾌﾞﾁﾁﾁﾁﾌﾞﾘﾘｲﾘﾌﾞﾌﾞﾌﾞﾌﾞ！！！！！！！"
	commitbrbr = commit -m "あああああああああああああああああああああああああああああああ！！！！！！！！！！！(ﾌﾞﾘﾌﾞﾘﾌﾞﾘﾌﾞﾘｭﾘｭﾘｭﾘｭﾘｭﾘｭ！！！！！！ﾌﾞﾂﾁﾁﾌﾞﾌﾞﾌﾞﾁﾁﾁﾁﾌﾞﾘﾘｲﾘﾌﾞﾌﾞﾌﾞﾌﾞｩｩｩｩｯｯｯ！！！！！！！)"

	swcar = switch "サイドカー"
	swccar = switch -c "サイドカー"
	delcar = branch -d "サイドカー"
	pushcar = push -u origin "サイドカー"
	commitcar = commit -m "サイドカー"

